.slider {
  @apply absolute inset-0;
  border-radius: inherit;
}

.handleContainer {
  @apply absolute z-10 inset-y-0;

  &:before {
    content: "";
    @apply block h-full w-1 transform-gpu -translate-x-2/4 opacity-80 bg-white;
  }

  &:first-child > .handle,
  &:last-child > .handle {
    @apply translate-y-full;
  }

  &:first-child > .handle {
    @apply rounded-tr-none -translate-x-full bg-blue-500;
  }
  &:last-child > .handle {
    @apply rounded-tl-none translate-x-0 bg-red-500;
  }

  &:not(:first-child):not(:last-child) > .handle {
    @apply rounded-tr-none -translate-x-2/4 translate-y-9 -rotate-45 bg-indigo-300;
  }

  &:focus-within > .canvas {
    @apply z-20;
  }
}

.handle {
  @apply absolute w-8 h-8 -bottom-0.5 z-10 transform-gpu rounded-full cursor-move ring-offset-accents-0 ring-offset-2 ring-2 ring-transparent;

  &:focus {
    @apply z-20 outline-none ring-purple-600;
  }

  &.disabled {
    @apply bg-indigo-600;
  }
}

.track {
  @apply absolute inset-y-0 bg-gray-600 opacity-80 backdrop-filter backdrop-blur-md;
  border-radius: inherit;

  &:first-child {
    @apply rounded-r-sm;
  }
  &:nth-child(2) {
    @apply rounded-l-sm;
  }
}

.canvas {
  @apply relative transform-gpu translate-y-11 -translate-x-2/4 shadow-lg;
}
